 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
 }
 body{
    width:100%;
    min-height:100vh;
    position: relative;
 }
  .checkOut{
   background: linear-gradient(to right,rgb(189, 189, 231),white);
  }
  .checkOut .total-price{
   font-size:bold;
   font-size:22px;
  }
  .checkOut .check-out-button{
   font-size:22px;
   
  }